.horizontal-container{
  padding: 1rem;
  background-color: var(--bg-color1);
  min-height: 100%;
}
.page-info{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.page-info h4{
  font-size: 1.3rem;
  font-weight: 200;
}
.horizontal-container h3 {
  text-align: center;
  color: var(--text-color2);
margin-top: 5rem;
font-size: 1.5rem;
font-weight: 200;

}
.video-display-horizontal{
  display: flex;
flex-direction: column;
background-color: var(--hover-color);
border-radius: 1rem;

}