@import url('https://fluid-ui-component.vercel.app/docs/docs.css');

:root{
  --bg-color1:#212121;
  --bg-color2:#212121cc;
  --text-color:#fff;
  --text-color2:#aaa;
--color-hover:#ffffff33;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto", "Arial", sans-serif;
  color: var(--text-color);
  font-weight: 300;
}
*{
  scrollbar-width: thin;
  scrollbar-color: var(--bg-color1);
}
  ::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-hover);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--bg-color2);
  }
